.detail-list{
  padding:1.4rem 1.5rem;
  width: 100%;
  box-sizing: border-box;
}
.mid-info{
  position: absolute;
  left: 30%;
}
.detail-list:nth-child(odd){
  background: $white;
}
.detail-tab{
  width: 100%;
  height: 40px;
  line-height: 40px;
  text-align: center;
  font-size: 14px;
  background: $white;
}
.active-index{
  height: 100%;
  width:25%;
  background-color: $red;
  transition: transform 0.2s ease-in-out;
}
.index2{transform: translateX(100%);}
.index3{transform: translateX(200%);}
.index4{transform: translateX(300%);}
