.title-txt{
  padding: 1rem 1.5rem;
  font-size: 12px;
  color:$light-gray;
}
.detail{
  float:right;
  color:$light-blue;
  padding-right: 10px;
  background: url(../img/right-blue.png) no-repeat center right;
  background-size: 7px 12px;
  font-size: 12px;
}
.num-box{
  padding: 3.2rem 0;
  text-align: center;
  @include jm-border-b(1px, #dddddd);
}
.sub-title{
  padding: 1rem 1.5rem;
  color:$gray;
  @include jm-border-t(1px,#dddddd);
  @include jm-border-b(1px, #dddddd);
}
.stock-list{
  padding: 1rem 1.5rem;
  color:$gray;
  @include jm-border-b(1px, #dddddd);
}
.stock-type{
  padding: 0 2px;
  background: #fc3438;
  color:$white;
}
